<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop 
   http://www.springframework.org/schema/aop/spring-aop-3.0.xsd "
       xmlns:aop = "http://www.springframework.org/schema/aop">

    <!-- interpreters declaration -->
    <bean class="org.python.util.PythonInterpreter" name="embededPythonInterpreter" scope="prototype"/>

    <alias name="pythonInterpreterImpl" alias="pythonInterpreter"/>
    <bean class="com.oracle.pythoninterpreter.interpreters.impl.PythonInterpreterImpl" name="pythonInterpreterImpl" >
        <aop:scoped-proxy proxy-target-class="false"/>
        <property name="pythonInterpreter" ref="embededPythonInterpreter"/>
        <property name="codeExtractor" ref="codeExtractor"/>
    </bean>

    <alias name="javaInterpreterImpl" alias="javaInterpreter"/>
    <bean class="com.oracle.pythoninterpreter.interpreters.impl.JavaInterpreterImpl" name="javaInterpreterImpl" >
        <aop:scoped-proxy proxy-target-class="false"/>
    </bean>

    <!--  interpreter factory declaration -->
    <bean class="com.oracle.pythoninterpreter.interpreters.impl.InterpreterFactory" name="interpreterFactory">
        <property name="interpreters">
            <map>
                <entry key="%python" value-ref="pythonInterpreter"/>
                <entry key="%java" value-ref="javaInterpreter"/>
            </map>
        </property>
        <property name="langPrefixPicker" ref="langPrefixPicker"/>
    </bean>

    <!-- code formatter declaration -->
    <alias name="codeExtractorImpl" alias="codeExtractor"/>
    <bean class="com.oracle.pythoninterpreter.parsers.impl.CodeExtractorImpl" name="codeExtractorImpl"/>

    <alias name="langPrefixPickerImpl" alias="langPrefixPicker"/>
    <bean class="com.oracle.pythoninterpreter.parsers.impl.LangPrefixPickerImpl" name="langPrefixPickerImpl"/>

    <alias name="codeValidatorImpl" alias="codeValidator"/>
    <bean class="com.oracle.pythoninterpreter.validators.impl.CodeValidatorImpl" name="codeValidatorImpl">
        <constructor-arg index="0" value="%[a-zA-Z]{3,10}\s.*"/>
    </bean>


</beans>